@import 'src/styles/app-variables.scss';

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
}

// Button:

button.primary {
  padding: 8px 10px;
  border: none;
  border-radius: 3px;
  color: #FFFFFF;
  background-color: $app-primary-color;
  transition: background-color 300ms;
}

button.primary:hover {
  cursor: pointer;
  background-color: $app-primary-darker-color;
}

button.with-icon {
  span, .icon {
    margin: 0 2px;
    vertical-align: middle;
  }
}

button.only-icon {
  padding: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  .icon {
    vertical-align: middle;
  }
}

// Input:

input {
  display: block;
  width: 100%;
  padding: 8px 10px;
  box-sizing: border-box;
  border: solid 1px #C3C3C3;
  border-radius: 3px;
  background-color: #FFFFFF;
  outline-width: 2px;
  outline-color: $app-primary-color;
}
