@import 'src/styles/app-variables.scss';
@import '../kanban-list/component-variables.scss';

#kanban-board-button-wrapper {
  width: $kanban-list-width;
  margin: 0;
}

#kanban-board-button {
  width: 100%;
  text-align: left;
  padding: 10px 15px;
  color: #FFFFFF;
  border: none;
  border-radius: 3px;
  background-color: rgba($color: #FFFFFF, $alpha: 0.3);
  transition: background-color 300ms;
}

#kanban-board-button:hover {
  cursor: pointer;
  background-color: rgba($color: #FFFFFF, $alpha: 0.4);
}

#board-input-panel {
  padding: 5px;
  background-color: $panel-bg-color;
  animation-name: board-input-panel-animation;
  animation-duration: 300ms;
  animation-fill-mode: forwards;

  input {
    margin-bottom: 5px;
  }

  button.only-icon {
    margin-left: 5px;
  }
}

@keyframes board-input-panel-animation {
  from { opacity: 0; }
  to { opacity: 1; }
}
