<div id="kanban-board-button-wrapper">
  <button
    *ngIf="!isTheInputPanelOpen"
    id="kanban-board-button"
    data-testid="kanban-board-button"
    class="with-icon"
    (click)="openTheInputPanel()"
  >
    <app-svg-icon
      [iconName]="'white-plus'"
      [iconAltText]="'+'"
    ></app-svg-icon>
    <span> Add new list </span>
  </button>
  
  <div
    *ngIf="isTheInputPanelOpen"
    id="board-input-panel"
    data-testid="board-input-panel"
  >
    <input
      type="text"
      placeholder="Insert the list title..."
      data-testid="list-title-input"
      required
      minlength="3"
      [(ngModel)]="listTitle"
      #listTitleInput="ngModel"
    >

    <div *ngIf="listTitleInput.invalid && (submitted || listTitleInput.dirty || listTitleInput.touched)">
      <span
        *ngIf="listTitleInput.errors?.['required']"
        class="input-error-message"
        data-testid="input-required-error"
      >
        The list name cannot be empty.
      </span>
      <span
        *ngIf="listTitleInput.errors?.['minlength']"
        class="input-error-message"
        data-testid="input-minlength-error"
      >
        The list name must have at least 3 characters.
      </span>
    </div>

    <button
      class="primary"
      data-testid="add-list-button"
      (click)="insertNewList()"
    >
      Add List
    </button>
    <button
      class="only-icon"
      data-testid="close-panel-button"
      (click)="closeTheInputPanel()"
    >
      <app-svg-icon
        [iconName]="'black-close'"
        [iconAltText]="'X'"
        [iconSize]="18"
      ></app-svg-icon>
    </button>
  </div>
</div>
