@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
}

button.iconed {
  span, .icon {
    margin: 0 2px;
    vertical-align: middle;
  }
}
